{% extends "base.twig" %}

{% block body %}
<script type="text/javascript">
document.body.className += 'js';
</script>
<div id="page">
    {% include 'header.twig' %}

    <div id="content">
        {% for item in items %}
            <div class="article <?php echo $host; ?>">
                <h2 class="article-title">
                    <a href="{{item.permalink}}" title="{{'Go to original place'|g}}">{{ item.title | striptags | default("No title") }}</a>
                </h2>
                <p class="article-info">
                    {{item.author | default("Anonymous")}},
                    <span id="post{{item.date|date('U')}}" class="date">
                        {{item.date|date("d/m/Y H:i")}}
                    </span>
                    |
                    {{'Source:'|g|raw}}
                    <a href="{{item.feed.getWebsite}}" class="source">{{item.feed.getName}}</a>
                </p>
                <div class="article-content">
                    {{ item.content | raw }}
                </div>
            </div>
        {%  else %}
            <div class="article">
                <h2 class="article-title">
                    No article
                </h2>
                <p class="article-content">
                    No news, good news.
                </p>
            </div>
        {% endfor %}
    </div>

    {% include 'sidebar.twig' %}
    {% include 'footer.twig' %}
</div>
{% endblock %}